<ion-header>
  <ion-toolbar>
		<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
		<ion-button slot="end" (click)="newDrink()" *ngIf="userService.signedIn == true">
			<ion-icon slot="icon-only" name="add"></ion-icon>
		</ion-button>
    <ion-title>Drinks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-tabs>
  	<ion-tab-bar slot="bottom">
	    <ion-tab-button tab="beers">
	      <ion-icon name="beer"></ion-icon>
	      <ion-label>Beers</ion-label>
	    </ion-tab-button>

	    <ion-tab-button tab="cocktails">
	      <ion-icon name="wine"></ion-icon>
	      <ion-label>Cocktails</ion-label>
	    </ion-tab-button>

	    <ion-tab-button tab="shots">
	      <ion-icon name="hammer"></ion-icon>
	      <ion-label>Shots</ion-label>
	    </ion-tab-button>

	    <ion-tab-button tab="virgins">
	      <ion-icon name="car"></ion-icon>
	      <ion-label>Virgins</ion-label>
	    </ion-tab-button>
  	</ion-tab-bar>
	</ion-tabs>

</ion-content>
