<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{"HOME" | translate}}
    </ion-title>
		<section>
			<ion-title *ngIf="userService.signedIn == true">
				Admin
			</ion-title>
		</section>
		<ion-button slot="end" *ngIf="userService.signedIn">
			Push
		</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

		<ion-list>
			<ion-item>
				<ion-label>{{"SELECT LANGUAGE" | translate}}</ion-label>
				<ion-select placeholder="Select One" [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
					<ion-select-option value="en">English</ion-select-option>
					<ion-select-option value="fr">French</ion-select-option>
				</ion-select>
			</ion-item>
		</ion-list>

		<!-- Beer of the month -->
    <ion-card class="welcome-card">
      <img [src]="botm.img" alt="" class="img_left"/>
      <ion-card-header class="card_header">
        <ion-card-subtitle>{{"BOTM" | translate}}</ion-card-subtitle>
        <ion-card-title>{{botm.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
				<p>{{'ALCOHOL' | translate}} : {{botm.alcohol}}%</p>
				<p>250 ml : ${{botm.price_250}} | 500 ml : ${{botm.price_500}}</p>
        <p *ngIf="selectedLanguage == 'fr'">{{botm.description_fr}}</p>
        <p *ngIf="selectedLanguage == 'en'">{{botm.description_en}}</p>
      </ion-card-content>
    </ion-card>

		<!-- Next event -->
		<ion-card class="welcome-card">
      <img [src]="nextEve.img" alt="" class="img_left"/>
      <ion-card-header class="card_header">
        <ion-card-subtitle>{{"NEXTEVE"|translate}}</ion-card-subtitle>
        <ion-card-title>{{nextEve.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
				<p>{{nextEve.date}}</p>
        <p>{{nextEve.description}}</p>
      </ion-card-content>
    </ion-card>




</ion-content>
